---
layout: page
title: 'My projects'
subtitle: 'Some pieces of work'
---
<div>
   {% assign feat = site.projects | sort: 'featured' | where_exp:"item","item.featured >0" %}
   {% for projects in feat %}
   <article class="post-preview">
      <a href="{{ projects.url | prepend: site.baseurl }}">
         <h3 class="post-title">{{ projects.title }} <i class="fa fa-fw fa-star fa-sm"></i> </h3 >
      </a>
      <h4 class="post-subtitle">{{ projects.subtitle }}</h4>
      <div class="post-entry">
         {{ projects.content  | strip_html | xml_escape | truncatewords: 20 }}
         <a href="{{ projects.url }}"> [Read more]</a>
      </div>
   </article>
   {% endfor %}
   {% assign nofeat = site.projects | where_exp: "item", "item.featured == nil" %}
   {% for projects in nofeat %}
   <article class="post-preview">
      <a href="{{ projects.url | prepend: site.baseurl }}">
         <h3 class="post-title">
         {{ projects.title }}
      </a>
      <h4 class="post-subtitle">{{ projects.subtitle }}</h4>
      <div class="post-entry">
         {{ projects.content  | strip_html | xml_escape | truncatewords: 40 }}
         <a href="{{ projects.url }}"> [Read more]</a>
      </div>
   </article>
   {% endfor %}
</div>
