---
layout: page
title: 'Archive'
subtitle: 'All the posts of my blog'
---


<h1 id="page-title" tabindex="-1" style="outline: none;padding-top: 60px;text-align: center;">Posts by year</h1>
<ul style="display: grid;
           grid-column-gap: 2em;
           grid-template-columns: repeat(2, 1fr);
           margin: 1.414em 0;
           padding: 0;
           font-size: 0.75em;
           list-style: none;">
  {% assign postsInYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}" style="display: flex;
                                        padding: 0.25em 0;
                                        -webkit-box-pack: justify;
                                        justify-content: space-between;
                                        color: inherit;
                                        text-decoration: none;
                                        border-bottom: 1px solid  {{ site.navbar-col }};">
        <strong>{{ year.name }}</strong> <span style="color: #808080;">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" style="margin-top: 60px;
                                       font-size: 25px;>
                                       <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="posts-list">
               {% for post in year.items %}
               <div class="{{ include.type | default: "list" }}__item">
                          <article class="post-preview"  style="padding: 0;">
                                     <h4 class="post-title">
                                                <a href="{{ post.url | prepend: site.baseurl }}" >{{ post.title }}</a>
                                     </h4>	
                                     {% if post.subtitle %}
                                     <h5 class="post-subtitle">
                                                {{ post.subtitle }}
                                     </h5>
                                     {% endif %}
                                     <p class="post-meta">
                                                Posted on {{ post.date | date_to_string }}		    
                                     </p>  
                          </article>
               </div>
               {% endfor %}
  </div>
<a href="#page-title" class="back-to-top">Back to Top &uarr;</a>
</section>
{% endfor %}
