---
layout: page
title: 'TEST'
subtitle: 'TEST'
permalink: /test/
---
{% assign all_tags = '' | split: ',' %}
	{% for document in site.documents %}
		{% for tags in document.tags %}
			{% for tag in tags %}
				{% assign all_tags = all_tags | push: tag %}
			{% endfor %}
		{% endfor %}
{% endfor %}

{% assign tags =  all_tags | join: ','  | split: ',' | sort %}
{% assign previousTag = "" %}
{% assign counter = 0 %}
{% for currentTag in tags %}
	{% if previousTag == "" %}
		{% assign previousTag = currentTag %}
	{% endif %}
	{% if currentTag == previousTag %}
		{% assign counter = counter | plus: 1 %}
	{% else %}
		<a href="#{{- previousTag -}}" class="btn btn-primary tag-btn"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{- previousTag -}}&nbsp;({{ counter }})</a>
		{% assign counter = 1 %}
	{% endif %}	
	{% if forloop.last %}
		<a href="#{{- currentTag -}}" class="btn btn-primary tag-btn"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{- currentTag -}}&nbsp;({{ counter }})</a>
	{% endif %}

	{% assign previousTag = currentTag %}
{% endfor %}

<div id="full-tags-list">
{% assign tags =  all_tags | join: ','  | split: ',' | sort %}
{% assign previousTag = "" %}
{% assign counter = 0 %}
{% for currentTag in tags %}
	{% if previousTag == "" %}
		{% assign previousTag = currentTag %}
	{% endif %}
	{% if currentTag == previousTag %}
		{% assign counter = counter | plus: 1 %}
	{% else %}
	<h2 id="{{- previousTag -}}" class="linked-section">
		<i class="fa fa-tag" aria-hidden="true"></i>
		&nbsp;{{- previousTag -}}&nbsp;({{ counter }})
	</h2>
	{% endif %}	
	{% if forloop.last %}
	<h2 id="{{- currentTag -}}" class="linked-section">
		<i class="fa fa-tag" aria-hidden="true"></i>
		&nbsp;{{- currentTag -}}&nbsp;({{ counter }})
	</h2>
	{% endif %}
	{% assign previousTag = currentTag %}
{% endfor %}
</div>
