---
layout: base
---
<header class="header-section">
   <div class="intro-header">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="post-heading">
                  <h1>
                     {{ page.title }}<br/>
                  </h1>
                  <h2 class="post-subheading">
                     {{ page.subtitle }}
                  </h2>
                  <div class="post-meta">
                     {{ page.date | date_to_string }}
                     {% if page.linktormd %}
                     - 
			  <a href="{{ page.path | prepend: site.github_repo | replace:'/_posts/','/blob/master/_codes/' | replace:'.md','.Rmd'  }}">
				  <i class="fa fa-fw fa-github"></i> Source code
			  </a>
			  <p>
				<span >
					<i class="fa fa-fw fa-clock-o"></i> 
					{% assign words = content | number_of_words %}
					{% if words < 400 %}
							 1 min
							 {% else %}
							 {{ words | divided_by:200 }} mins
							 {% endif %}
							 </span>

                     </p>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
         <div class="blog-tags">
            Tags:
            {% if site.link-tags %}
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
            {% endfor %}
            {% else %}
            {{ page.tags | join: ", " }}
            {% endif %}
         </div>
         <article role="main" class="blog-post">
            {{ content }}
         </article>
         {% if page.social-share %}
         {% include social-share.html %}
         {% endif %}
         <ul class="pager blog-pager">
            {% if page.previous.url %}
            <li class="previous">
               <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
               <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
            {% endif %}
         </ul>
         <div class="disqus-comments">
            {% include disqus.html %}
         </div>
      </div>
   </div>
</div>
