---
layout: base
---
<header class="header-section">
   <div class="intro-header" style="margin-bottom: 0">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="post-heading">
                  <h1>
                     {{ page.title }}<br/>
                  </h1>
                  <h2 class="post-subheading">
                     {{ page.subtitle }}
                  </h2>
                  <div class="post-heading">
                     {% if page.linktormd %}
                     <a href="{{ page.path | prepend: site.github_repo | replace:'/_posts/','/blob/master/_codes/' | replace:'.md','.Rmd' }}">
                     <i class="fa fa-fw fa-github"></i> Source code
                     </a>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
         <article role="main" class="blog-post"
                  style="text-align: justify;
                         margin: 0 0 15px;
                         border-top: 0.5px solid  #008080;
                         border-bottom: 3px solid #008080;">
            <div style="color: #808080;
                        font-style: italic;
                        text-align: right;
                        font-size: small;">
               Posted on {{ page.date | date_to_string }}
            </div>
            {{ content }}
         </article>
         <div style="background-color: {{ site.background-light-col }};
                     margin-top: -15px;
                     margin-bottom: -20px;
                     padding: 10px 5px">
           {% if page.tags.size > 0 %}
            <div class="blog-tags" style="margin-top: 0; margin-bottom: 10px;">
               Tags:
               {% if site.link-tags %}
               {% for tag in page.tags %}
               <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
               {% endfor %}
               {% else %}
               {{ page.tags | join: ", " }}
               {% endif %}
            </div>
           {% endif %}
            <ul class="pager blog-pager" style="margin: 0 0 20px;">
               {% if page.previous.url %}
               <li class="previous">
                  <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
               </li>
               {% endif %}
               {% if page.next.url %}
               <li class="next">
                  <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
               </li>
               {% endif %}
            </ul>
            {% include social-share.html %}
            <div class="disqus-comments">
               {% include disqus.html %}
            </div>
         </div>
      </div>
   </div>
</div>
