---
layout: base
---
{% include header.html type="page" %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{% if page.githuburl %}
            <div align="center">
				<button onclick="window.location.href = '{{ page.githuburl }}';">
					See on <b>GitHub</b> <i class="fa fa-fw fa-github"></i>
				</button>
            </div>
            {% endif %}
            <article role="main" class="blog-post"  
		     style="text-align: justify;			
			    margin:0 0 10px;
			    padding-top: 0.5px;
			    border-bottom: 3px solid #008080;">
              {{ content }}
            </article>
            {% include social-share.html %}
        </div>
    </div>
</div>
