---
layout: base
---
{% include header.html type="page" %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{% if page.githuburl %}
			<div align="center">
				<button title="Go to the GitHub repo of this project"
					onclick="window.location.href = '{{ page.githuburl }}';">
				See on <b>GitHub</b> <i class="fa fa-fw fa-github"></i>
				</button>
			</div>
			{% endif %}
			{% if page.donate %}
			<div style="text-align: center;margin: 2em 0 0;">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick" />
					<input type="hidden" name="hosted_button_id" value="CE7GRZSQQSM62" />
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="Donate $0.99 with PayPal" alt="Donate with PayPal button" />
					<img alt="" border="0" src="https://www.paypal.com/en_ES/i/scr/pixel.gif" width="1" height="1" />
				</form>				
			</div>			
			{% endif %}			
			<article role="main" class="blog-post"  
				 style="margin:1em 0 0; padding-bottom: 10px;
					padding-top: 0.5px;
					border-top: 0.5px solid  {{ site.navbar-col }};
					border-bottom: 3px solid {{ site.navbar-col }};">
				{% if page.date %}
				<div class="post-heading" style="font-size: 90%;
								 color: #808080;
								 font-style: italic;
								 margin-top: 5px;">
					Released on {{ page.date | date_to_string }}
				</div>
				{% endif %}
				{{ content }}
			</article>
			<div style="background-color: {{ site.background-light-col }};
				    margin-top: 0;
				    margin-bottom: -20px;
				    padding: 10px 5px">
				{% if page.tags.size > 0 %}
				<div class="blog-tags" style="margin-top: 0; margin-bottom: 10px;">
				Tags:
				{% if site.link-tags %}
					{% for tag in page.tags %}
					<a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
					{% endfor %}
				{% else %}
					{{ page.tags | join: ", " }}
				{% endif %}
				</div>
				{% endif %}
				{% include social-share.html %}
			</div>	
		</div>
	</div>
</div>
